{% extends 'finder/base.html' %}

<!-- {% if flag %} -->
{% block content %}

<div id="all_data">

    <ul>
        <li class="item" ><pre class="tab">Branch:                        {{branch}}</pre></li>
        <li class="item"><pre class="tab">Center:                        {{center}}</pre></li>
        <li class="item"><pre class="tab">District:                       {{district}}</pre></li>
        <li class="item"><pre class="tab">State:                         {{state}}</pre></li>
        <li class="item"><pre class="tab">Address:                     {{address}}</pre></li>
        <li class="item"><pre class="tab">Contact:                      {{contact}}</pre></li>
        <li class="item"><pre class="tab">City:                             {{city}}</pre></li>
        <li class="item"><pre class="tab">Bank_name:                 {{bank_name}}</pre></li>
        <li class="item"><pre class="tab">Bank_code:                  {{bank_code}}</pre></li>
        <!-- <pre class="tab">This    text      has    lots of     spaces</pre> -->
    
    </ul>
</div>

{% endblock %}
<!-- {% endif %} -->